<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <!-- Include css styles -->
  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/sidebar.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/solarized.css" | relative_url }}">

  <!-- Include MathJax for LaTeX -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

  <!-- Include Geogebra -->
  <script src="https://www.geogebra.org/apps/deployggb.js"></script>
  <script src="{{ site.baseurl }}/assets/js/geogebra-common.js"></script>
  <script>
    document.getElementById('menu-toggle').addEventListener('click', () => {
      console.log(`Menu button clicked`);
      document.getElementById('sidebar').classList.toggle('active');
    });
    </script>
</head>
