<!-- _includes/sidebar.html -->
<div class="sidebar">
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}">Home</a></li>
      <li>
        <a href="#">Optical Plates</a>
        <ul>
          <li><a href="{{ site.baseurl }}/pages/half-wave-plate">Half-Wave Plate</a></li>
          <li><a href="{{ site.baseurl }}/pages/quater-wave-plate">Quarter-Wave Plate</a></li>
          <li><a href="{{ site.baseurl }}/pages/elliptical-plate">Elliptical Plate</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Polarization Controllers</a>
        <ul>
          <li><a href="{{ site.baseurl }}/pages/3-paddle-controller">Basic Controller</a></li>
          <li><a href="{{ site.baseurl }}/pages/advanced-polarization-controller">Advanced Controller</a></li>
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/pages/faraday-mirror">Faraday Mirror</a></li>
    </ul>
  </nav>
</div>
