<!-- _includes/sidebar.html -->


<div class="sidebar">
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}">Home</a></li>
      <li>
        <a href="#">Optical Plates</a>
        <ul>
          <li><a href="{{ site.baseurl }}/pages/half-wave-plate">Half-Wave Plate</a></li>
          <li><a href="{{ site.baseurl }}/pages/quater-wave-plate">Quarter-Wave Plate</a></li>
          <li><a href="{{ site.baseurl }}/pages/elliptical-plate">Elliptical Plate</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Polarization Controllers</a>
        <ul>
          <li><a href="{{ site.baseurl }}/pages/3-paddle-controller">Basic Controller</a></li>
          <li><a href="{{ site.baseurl }}/pages/advanced-polarization-controller">Advanced Controller</a></li>
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/pages/faraday-mirror">Faraday Mirror</a></li>
    </ul>
  </nav>
</div>
<script>
    // Сохранение состояния подменю в localStorage
  function saveMenuState() {
    const expandedMenus = [];
    document.querySelectorAll('.sidebar nav ul li > a').forEach((link, index) => {
      const submenu = link.nextElementSibling;
      if (submenu && submenu.style.display === 'block') {
        expandedMenus.push(index);
      }
    });
    localStorage.setItem('expandedMenus', JSON.stringify(expandedMenus));
  }
  
  // Восстановление состояния подменю из localStorage
  function restoreMenuState() {
    const expandedMenus = JSON.parse(localStorage.getItem('expandedMenus')) || [];
    document.querySelectorAll('.sidebar nav ul li > a').forEach((link, index) => {
      const submenu = link.nextElementSibling;
      if (expandedMenus.includes(index)) {
        submenu.style.display = 'block';
      }
    });
  }
  
  // Переключение состояния подменю
  document.querySelectorAll('.sidebar nav ul li > a').forEach((link, index) => {
    link.addEventListener('click', function(event) {
      const submenu = link.nextElementSibling;
      if (submenu && submenu.tagName === 'UL') {
        event.preventDefault();
        // Если подменю уже открыто, закрываем его
        if (submenu.style.display === 'block') {
          submenu.style.display = 'none';
        } else {
          // Закрываем все подменю перед открытием нового
          document.querySelectorAll('.sidebar nav ul li > ul').forEach((ul) => {
            ul.style.display = 'none';
          });
          submenu.style.display = 'block';
        }
        saveMenuState(); // Сохраняем состояние меню
      }
    });
  });
  
  // Восстанавливаем состояние меню при загрузке страницы
  window.addEventListener('load', restoreMenuState);

</script>
