<!-- _includes/sidebar.html -->
<div class="sidebar">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="#">Optical Plates</a>
        <ul>
          <li><a href="/pages/half-wave-plate/">Half-Wave Plate</a></li>
          <li><a href="/pages/quater-wave-plate/">Quarter-Wave Plate</a></li>
          <li><a href="/pages/elliptical-plate/">Elliptical Plate</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Polarization Controllers</a>
        <ul>
          <li><a href="/pages/polarization-controller/">Basic Controller</a></li>
          <li><a href="/pages/advanced-polarization-controller/">Advanced Controller</a></li>
        </ul>
      </li>
      <li><a href="/pages/faraday-mirror/">Faraday Mirror</a></li>
    </ul>
  </nav>
</div>
