

/* Main content */
h1 {
    text-align: center;
	margin-bottom: 40px;
}
h1, h2, h3 {
  color: var(--blue);              /* заголовки синие */
}
.container {
  display: flex;
  margin-left: 250px;
}

main {
  width: 100%;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  color: var(--base00);
  font-family: "Helvetica Neue", sans-serif;
  background-color: var(--base03);
  min-height: 100vh;
}


/* ggb applets container */
.applets {
  display: flex;
  flex-wrap: wrap;
  /*gap: 2rem;*/
  justify-content: center;
  margin-top: 2rem;
}

.applet {
  display: flex;
  align-items: center;
  justify-content: center;
}


a {
  color: var(--cyan);
}

a:hover {
  color: var(--blue);
}
