/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  padding-top: 20px;
  color: white;
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 10px;
  text-align: left;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
  background-color: #555;
}



/* submenu */
.sidebar nav ul li ul {
  list-style: none;
  padding-left: 20px;
  display: none; /* Подменю скрыто по умолчанию */
}

.sidebar nav ul li:hover > ul {
  display: none; /* Не показываем подменю при наведении */
}

/* Кастомизация ссылок в подменю */
.sidebar nav ul li ul li a {
  padding-left: 20px; /* Отступ для подменю */
}

/* submenu effects */
.sidebar nav ul li ul li a:hover {
  background-color: #666;
}

/* Main content */
.container {
  display: flex;
  margin-left: 250px; /* Indent for sidebar */
}

main {
  width: 100%;
  padding: 20px;
}
