

/* Main content */
h1 {
    text-align: center;
	margin-bottom: 40px;
}
h1, h2, h3 {
  color: var(--blue);              /* заголовки синие */
}
.container {
  display: flex;
  margin-left: 250px;
}

body{
    color: var(--base00);
    font-family: "Helvetica Neue", sans-serif;
    background-color: var(--base3);
}

main {
  width: 100%;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
}


/* ggb applets container */
.applets {
  display: flex;
  flex-wrap: wrap;
  /*gap: 2rem;*/
  justify-content: center;
  margin-top: 2rem;
}

.applet {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Убираем рамки и фон у апплетов GeoGebra */
.GeoGebraFrame {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

/* Дополнительно: чтобы у canvas не было серой подложки */
.EuclidianPanel {
  background: transparent !important;
}

.ggbTransform, .applet_scaler {
  background: transparent !important;
}

a {
  color: var(--cyan);
}

a:hover {
  color: var(--blue);
}
