<!-- _layouts/default.html -->

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header class="topbar">
      <button id="menu-toggle" class="material-icons">menu</button>
      <h1 class="site-title">Polarization manual</h1>
    </header>
    <div class="container">
      <aside>{% include sidebar.html %}</aside>
      <main>{{ content }}</main>
    </div>
    <script>
      
      //menu button behavior
      document.getElementById('menu-toggle').addEventListener('click', () => {document.getElementById('sidebar').classList.toggle('active');});
      
      // topbar behavior
      let lastScrollY = window.scrollY;
      window.addEventListener('scroll', () => {
        const topbar = document.querySelector('.topbar');
          if (!topbar) return;
          if (window.scrollY > lastScrollY) {
            topbar.classList.add('hidden');  // scroll down — hide
          } else {
            topbar.classList.remove('hidden'); // scroll up — show
          }
         lastScrollY = window.scrollY;
      });
      
    </script>
  </body>
</html>
