<!-- _layouts/default.html -->

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header class="topbar">
      <button id="menu-toggle" class="material-icons"aria-label="Toggle menu">menu</button>
      <span class="site-title">Polarization</span>
    </header>
    <div id="overlay"></div>
    <div class="layout">
      <aside id="sidebar" class="sidebar">{% include sidebar.html %}</aside>
      <main id="main-content">{{ content }}</main>
    </div>
    
    <script>
      const menuToggle = document.getElementById('menu-toggle');
      const sidebar = document.getElementById('sidebar');
      const main = document.getElementById('main-content');
      const overlay = document.getElementById('overlay');


      //menu button behavior
      menuToggle.addEventListener('click', () => {
        sidebar.classList.toggle('active');
        main.classList.toggle('shifted');
        overlay.classList.toggle('active');
        menuToggle.textContent = sidebar.classList.contains('active') ? 'close' : 'menu';
      });

      //overlay click behavior
      overlay.addEventListener('click', () => {
        sidebar.classList.remove('active');
        main.classList.remove('shifted');
        overlay.classList.remove('active');
        menuToggle.textContent = 'menu';
      });
      
    </script>
  </body>
</html>
