<!-- _layouts/default.html -->

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header id="topbar" class="topbar">
      <button id="menu-toggle" class="material-icons" aria-label="Toggle menu">menu</button>
      <div id="logoName" class="logoName">
        //<img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="Logo" class="logo">
        
        <img src="{{ '/assets/images/name.svg' | relative_url }}" alt="Name" class="name">
        <span>{{page.title}}</span>
      </div>
    </header>
    <div id="overlay" class="overlay"></div>
    <div id="layout" class="layout">
      <aside id="sidebar" class="sidebar">{% include sidebar.html %}</aside>
      <main id="main-content">{{ content }}</main>
    </div>
    
    <script>
      function getCssVariable(name) {
        return getComputedStyle(document.documentElement).getPropertyValue(name).trim();
      }
      
      const menuToggle = document.getElementById('menu-toggle');
      const sidebar = document.getElementById('sidebar');
      const main = document.getElementById('main-content');
      const overlay = document.getElementById('overlay');
      const layout = document.getElementById('layout');
      const topbar = document.getElementById('topbar');


      //menu button behavior
      menuToggle.addEventListener('click', () => {
        const isWide = window.innerWidth > 1200;
        const isHidden = sidebar.classList.contains('hidden');
        const isActive = sidebar.classList.contains('active');
      
        // Сброс всех состояний
        sidebar.classList.remove('hidden', 'active');
        layout.classList.remove('fullscreen');
        topbar.classList.remove('fullscreen');
        menuToggle.textContent = 'menu';
        overlay.classList.remove('active');
      
        if (isWide) {
          if (!isHidden) {
            sidebar.classList.add('hidden');
            layout.classList.add('fullscreen')
            topbar.classList.add('fullscreen')
          }
        } else {
          if (!isActive) {
            sidebar.classList.add('active');
            overlay.classList.add('active');
            menuToggle.textContent = 'close';      
          }
        }
      });

      //overlay click behavior
      overlay.addEventListener('click', () => {
        sidebar.classList.remove('active');
        overlay.classList.remove('active');
        menuToggle.textContent = 'menu';
      });
      
    </script>
  </body>
</html>
